[submodule "Tests/Vendor/Expecta"]
	path = Tests/Vendor/Expecta
url=https://github.com/tonyarnold/expecta.git
[submodule "Tests/Vendor/Specta"]
	path = Tests/Vendor/Specta
	url = https://github.com/specta/specta.git
