.DS_Store
*.swp
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3

.hg
.hgtags

*.mode1v3
*.mode2v3

UserInterfaceState.xcuserstate
/Magical Record.xcodeproj/project.xcworkspace/xcuserdata/saul.xcuserdatad/UserInterfaceState.xcuserstate
/Magical Record.xcodeproj/xcuserdata/saul.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/Magical Record.xcodeproj/xcuserdata/gfurman.xcuserdatad
