
#include "Shared.xcconfig"

ARCHS = $(ARCHS_STANDARD_32_64_BIT)
INSTALL_PATH = @rpath
DYLIB_COMPATIBILITY_VERSION = 0
DYLIB_CURRENT_VERSION = $(GHUNIT_VERSION)
LD_RUNPATH_SEARCH_PATHS = @loader_path/../Frameworks
INFOPLIST_FILE = Info.plist
PRODUCT_NAME = GHUnit
WRAPPER_EXTENSION = framework
GCC_ENABLE_OBJC_GC = supported
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = GHUnit_Prefix.pch
GCC_MODEL_TUNING = G5
